.dashboard {
  border-radius: 0;
  display: flex;
  flex-direction: column;
}
.main-content {
  background: #fafafb;
  display: flex;
  width: 100%;
  padding-bottom: 43px;
  flex-direction: column;
}
@media (max-width: 991px) {
  .main-content {
    max-width: 100%;
  }
}
.header {
  background: #fff;
  box-shadow: 0 1px 0 0 rgba(18, 32, 59, 0.09);
  display: flex;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 11px 73px;
}
@media (max-width: 991px) {
  .header {
    max-width: 100%;
    padding: 0 20px;
  }
}
.search-container {
  display: flex;
  min-height: 40px;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 991px) {
  .search-container {
    max-width: 100%;
  }
}
.search-input {
  align-items: center;
  border-radius: 10px;
  border: 1px solid #e4e4e7;
  background: #fff;
  display: flex;
  width: 100%;
  gap: 10px;
  justify-content: start;
  flex: 1;
  flex-wrap: wrap;
  height: 100%;
  padding: 17px 16px;
}
@media (max-width: 991px) {
  .search-input {
    max-width: 100%;
  }
}
.search-icon {
  align-self: stretch;
  display: flex;
  min-height: 18px;
  align-items: center;
  gap: 10px;
  justify-content: center;
  width: 18px;
  margin: auto 0;
}
.search-icon-img {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 18px;
  align-self: stretch;
  margin: auto 0;
}
.search-placeholder {
  color: #a1a1aa;
  align-self: stretch;
  width: 227px;
  margin: auto 0;
  font: 500 12px/2 Plus Jakarta Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.user-avatar {
  background-color: #1e1e1e;
  border-radius: 50%;
  display: flex;
  width: 36px;
  height: 36px;
  margin: auto 0;
}
.dashboard-content {
  z-index: 10;
  margin-left: 24px;
  width: 100%;
  max-width: 1510px;
}
@media (max-width: 991px) {
  .dashboard-content {
    max-width: 100%;
  }
}
.content-wrapper {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .content-wrapper {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }
}
.sidebar {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 19%;
  margin-left: 0;
}
@media (max-width: 991px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  color: #3f3f46;
  white-space: nowrap;
  font: 13px/2 Plus Jakarta Sans, sans-serif;
}
@media (max-width: 991px) {
  .sidebar-content {
    margin-top: 19px;
    white-space: initial;
  }
}
.sidebar-menu {
  background: #fafafa;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: start;
  font-weight: 500;
  padding: 107px 56px 0 15px;
}
@media (max-width: 991px) {
  .sidebar-menu {
    white-space: initial;
    padding: 100px 20px 0 0;
  }
}
.menu-item {
  display: flex;
  gap: 13px;
  color: #18181b;
  font-weight: 400;
}
@media (max-width: 991px) {
  .menu-item {
    white-space: initial;
  }
}
.menu-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 18px;
  align-self: start;
}
.menu-section {
  color: #a1a1aa;
  font-size: 11px;
  line-height: 2;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 30px;
}
.menu-link {
  display: flex;
  margin-top: 32px;
  gap: 13px;
  text-decoration: none;
}
@media (max-width: 991px) {
  .menu-link {
    white-space: initial;
  }
}
.settings-link {
  z-index: 10;
  display: flex;
  margin-top: 297px;
  gap: 13px;
  font-weight: 400;
  text-decoration: none;
}
@media (max-width: 991px) {
  .settings-link {
    margin-top: 40px;
    white-space: initial;
  }
}
.logout-link {
  align-self: start;
  display: flex;
  gap: 13px;
  font-weight: 400;
  margin: 21px 0 0 16px;
  text-decoration: none;
}
@media (max-width: 991px) {
  .logout-link {
    margin-left: 10px;
    white-space: initial;
  }
}
.main-section {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 81%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .main-section {
    width: 100%;
  }
}
.main-content-area {
  display: flex;
  margin-top: 33px;
  width: 100%;
  flex-direction: column;
  align-items: start;
}
@media (max-width: 991px) {
  .main-content-area {
    max-width: 100%;
    margin-top: 40px;
  }
}
.welcome-section {
  display: flex;
  gap: 40px 41px;
  font: 16px Plus Jakarta Sans, sans-serif;
}
.welcome-title {
  color: #18181b;
  font-weight: 700;
}
.welcome-message {
  color: #71717a;
  font-weight: 400;
  line-height: 2;
  flex-basis: auto;
  flex-grow: 1;
}
.stats-grid {
  align-self: stretch;
  display: flex;
  margin-top: 32px;
  gap: 25px;
  flex-wrap: wrap;
}
.stat-card {
  justify-content: center;
  border-radius: 10px;
  border: 1px solid #e4e4e7;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  font-family: Plus Jakarta Sans, sans-serif;
  flex: 1;
  padding: 0 2px;
}
.card-content {
  border-radius: 10px;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: start;
  padding: 15px;
}
.card-title {
  color: #71717a;
  font-size: 11px;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.card-bottom {
  display: flex;
  margin-top: 11px;
  width: 100%;
  max-width: 249px;
  align-items: end;
  gap: 40px 100px;
  justify-content: space-between;
}
.stat-value {
  gap: 10px;
  font-size: 21px;
  color: #18181b;
  font-weight: 700;
  white-space: nowrap;
  line-height: 2;
}
@media (max-width: 991px) {
  .stat-value {
    white-space: initial;
  }
}
.stat-change {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 13px;
  font-weight: 500;
  text-align: right;
  line-height: 2;
  justify-content: end;
}
.change-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 10px;
  align-self: stretch;
  margin: auto 0;
}
.increase {
  color: #22c55e;
}
.decrease {
  color: #ef4444;
}
.chart-container {
  aspect-ratio: 2.43;
  object-fit: contain;
  object-position: center;
  width: 797px;
  border-radius: 0;
  margin-top: 29px;
  max-width: 100%;
}
.chart-container-2 {
  aspect-ratio: 2.43;
  object-fit: contain;
  object-position: center;
  width: 797px;
  border-radius: 0;
  margin-top: 46px;
  max-width: 100%;
}
@media (max-width: 991px) {
  .chart-container-2 {
    margin-top: 40px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
#temp-history-chart {
  width: 50vw; /* 80% of the viewport width */
  height: 20vh; /* 50% of the viewport height */
  margin-top: 1rem;
}
#humidity-history-chart {
  width: 50vw; /* 80% of the viewport width */
  height: 20vh; /* 50% of the viewport height */
  margin-top: 2rem;
}
#pm2_5-history-chart {
  width: 50vw; /* 80% of the viewport width */
  height: 20vh; /* 50% of the viewport height */
  margin-top: 2rem;
}
